h1 {
  border-bottom-style: solid;
  border-bottom-color: #EAEAE7;
  padding-left: 0.5rem;
}

#geolocation, #acceleration, #light {
  border-left-style: solid;
  border-left-color: #FF4E00;
  padding-left: 0.5rem;
}

#orientation, #proximity, #battery {
  border-left-style: solid;
  border-left-color: #00AACC;
  padding-left: 0.5rem;
}

#dispOrientation {
  position: relative;
  width: calc(90vmin - 0.5rem);
  min-width: calc(10rem);
  max-width: calc(30rem);
  height: calc(90vmin - 0.5rem);
  min-height: calc(10rem);
  max-height: calc(30rem);
}

#faceAlpha {
  position: absolute;
  left: 0%;
  top: 0%;
  width: 86.66%;
  height: 86.66%;
  background: #EAEAE7;
  border-style: solid;
  border-color: #2C393B;
  border-radius: 50%;
}

#needleAlpha {
  position: absolute;
  left: 48%;
  top: 10%;
  width: 4%;
  height: 60%;
  background: linear-gradient(0deg, #00AACC, #FF4E00, #FF4E00);
  transform-origin: 50% 66.667%;
  transform: rotate(0deg);
}

#needleAlpha0 {
  position: absolute;
  left: 49.5%;
  top: 0%;
  width: 1%;
  height: 50%;
  background: #2C393B;
}

#faceBeta {
  position: absolute;
  left: 90%;
  width: 6.66%;
  height: 86.66%;
  background: #EAEAE7;
  border-style: solid;
  border-color: #2C393B;
}

#needleBeta {
  position: absolute;
  left: 0%;
  top: 48%;
  width: 100%;
  height: 4%;
  background: #FF4E00;
}

#needleBeta0 {
  position: absolute;
  left: 0%;
  top: 49.5%;
  width: 100%;
  height: 1%;
  background: #2C393B;
}

#faceGamma {
  position: absolute;
  top: 90%;
  width: 86.66%;
  height: 6.66%;
  background: #EAEAE7;
  border-style: solid;
  border-color: #2C393B;
}

#needleGamma {
  position: absolute;
  left: 48%;
  top: 0%;
  width: 4%;
  height: 100%;
  background: #FF4E00;
}

#needleGamma0 {
  position: absolute;
  left: 49.5%;
  top: 0%;
  width: 1%;
  height: 100%;
  background: #2C393B;
}

#dispAcceleration {
  position: relative;
  width: calc(90vmin - 0.5rem);
  min-width: calc(10rem);
  max-width: calc(30rem);
  height: calc(3 * (90vmin - 0.5rem) / 10);
  min-height: calc(3 * 10rem / 10);
  max-height: calc(3 * 30rem / 10);
}

#faceXAcc {
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 22.22%;
  background: #EAEAE7;
  border-style: solid;
  border-color: #2C393B;
}

#needleXAcc {
  position: absolute;
  left: 50%;
  top: 0%;
  right: 50%;
  min-width: 1px;
  height: 100%;
  background: #00AACC;
}

#faceYAcc {
  position: absolute;
  left: 0%;
  top: 33.33%;
  width: 100%;
  height: 22.22%;
  background: #EAEAE7;
  border-style: solid;
  border-color: #2C393B;
}

#needleYAcc {
  position: absolute;
  left: 50%;
  top: 0%;
  right: 50%;
  min-width: 1px;
  height: 100%;
  background: #00AACC;
}

#faceZAcc {
  position: absolute;
  left: 0%;
  top: 66.66%;
  width: 100%;
  height: 22.22%;
  background: #EAEAE7;
  border-style: solid;
  border-color: #2C393B;
}

#needleZAcc {
  position: absolute;
  left: 50%;
  top: 0%;
  right: 50%;
  min-width: 1px;
  height: 100%;
  background: #00AACC;
}

#dispXProximity {
  position: relative;
  width: calc(90vmin - 0.5rem);
  min-width: calc(10rem);
  max-width: calc(30rem);
  height: calc(1 * (90vmin - 0.5rem) / 10);
  min-height: calc(1 * 10rem / 10);
  max-height: calc(1 * 30rem / 10);
}

#faceXProximity {
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 66.66%;
  background: #EAEAE7;
  border-style: solid;
  border-color: #2C393B;
}

#needleXProximity {
  position: absolute;
  left: 48%;
  top: 0%;
  width: 4%;
  height: 100%;
  background: #FF4E00;
}

#dispXLight {
  position: relative;
  width: calc(90vmin - 0.5rem);
  min-width: calc(10rem);
  max-width: calc(30rem);
  height: calc(1 * (90vmin - 0.5rem) / 10);
  min-height: calc(1 * 10rem / 10);
  max-height: calc(1 * 30rem / 10);
}

#faceXLight {
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 66.66%;
  background: #EAEAE7;
  border-style: solid;
  border-color: #2C393B;
}

#needleXLight {
  position: absolute;
  left: 0%;
  top: 0%;
  width: 0%;
  min-width: 1px;
  height: 100%;
  background: #00AACC;
}